{% extends "poll/base.html"%}

{% block content %}
<section id="info">
    <header>
        <h3>Relatório de utilização do PG.MCOM</p>
    </header>
    <p>Número de usuários enviados: </p>
    <p>Número de planos enviados: </p>
    <p>Número de atividades enviados: </p>
    <p>Número de usuários não enviados: </p>
    <p>Número de planos não enviados: </p>
    <p>Número de atividades não enviados: </p>
</section>
<section id="action">
    <button class="report-button">Enviar relatório</button>
    <a href=#>Ir para administração de usuários</a>
</section>
{% endblock content %}
